@import url('https://fonts.googleapis.com/css?family=Russo+One');

*{box-sizing: border-box;}

section {
  z-index: 99;
}
#buscador {
  padding-top: 1%;
}


/* section div.uk-position-relative {
  width: 10%;
  margin-left: 40%;
  margin-bottom: 2.5%;
} */
ul.uk-slideshow-items {
  width: 2px;
}
