/* @import url('https://fonts.googleapis.com/css?family=Russo+One');

*{box-sizing: border-box;}

main .clase-peli {
  width: 30%;
  margin-top: 80px;
  margin: 0 auto;
  margin-bottom: 50px;
} */
main.clase-peli {
  z-index: 200;
}
