@import url('https://fonts.googleapis.com/css?family=Russo+One');

*{box-sizing: border-box;}

section {
  z-index: 99;
}
#puntaje {
padding-top: 0;
}
#populares {
  padding-top:0;
}
#proximamente {
  padding-top:0;
}
main {
  margin-top: 10px;
}
section div.uk-position-relative {
  width: 30%;
  margin-left: 40%;
  margin-bottom: 2.5%;
}
section h5 {
  margin-left: 50%;
}
