@import url('https://fonts.googleapis.com/css?family=Russo+One');

*{box-sizing: border-box;}

section {
  z-index: 99;
}
#puntaje {
padding-top: 0;
}
#populares {
  padding-top:0;
}
#proximamente {
  padding-top:0;
}
section div.uk-position-relative {
  width: 30%;
  margin-left: 40%;
  margin-bottom: 2.5%;
}
section h5 {
  margin-left: 50%;
  width: 130px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 5px inset #39f;
  border-radius: 7px;
}

h5.proximas-pelis {
  padding-left: 20px;
}

h5.mejor-puntaje {
  padding-left: 20px;
}
