@import url('https://fonts.googleapis.com/css?family=Russo+One');

*{box-sizing: border-box;}

span{
  color: #FFF;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  font-family: Russo One;
  font-size: 1rem;
}
div.access-allowed {
  position: relative;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 100;
}
header nav {
  width: 100%;
  height: 80px;
  box-shadow: -2px -2px 5px gray, 2px 2px 5px gray;
}
nav ul {
  display: flex;
  position: fixed;
  width: 100%;
  margin-right: 0;
  padding: 0;
  text-align: center;
  justify-content: space-around;
}
nav ul li {
  margin: 0;
  padding: 20px 12px 0 12px;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.5rem;
  /* justify-content: space-around; */
}
nav ul li a {
  text-decoration: none;
  text-decoration-color: #FFFFFF;
}
nav ul li a:hover {
  text-decoration: underline;
}
#li-logo {
  margin-left:0;
  width: 90px;
  padding-top: 0.5%;
}

#nombre-de-usuario {
  padding: 2%;
}

main {
  margin-top: 100px;
  margin-bottom: 10px;
}
section {
  z-index: 99;
}
section div {
  width: 30%;
  margin-left: 40%;
  margin-bottom: 2.5%;
}

footer {
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    background: #3898F9;
    color: white;
}
footer div.copyright {
  margin-left: 50%;
  height: 150px;
  padding-top: 0.5%;
}
footer div.copyright img.img-poweredby{
  width: 11%;
}
footer h2.mcm {
  margin-top: 1%;
  margin-bottom: 1%;
}
footer img.img-poweredby {
  margin-top: 1%;
  margin-bottom: 1%;
}
footer h6 {
  margin-top: 1%;
  margin-bottom: 1%;
}

/*lista sin desplegar*/
#desplegable {
  position: absolute;
  display: none;
  background-color: #E8F0F3;

}
/*me muestra la lista de generos desplegable cuando paso el cursor*/
#contenedor:hover > #desplegable {
  display: block;
}

@media screen and (max-width: 420px) {
  section.home article.img-container {
    max-height: 100vw;
    min-height: 300px;
  }

  /* Para el formato telefono no hace falta agregar atributos si no decir que no haga lo que estaba haciendo
  Por default el elemento (section,article,div) tratan de abarcar el 100% del ancho (son elementos de bloque), sin margen a la derecha y sin flotación
  Hay que especificarle que no haga esas cosas */

  header nav {
    height: 200px;
  }
  nav ul {
  flex-direction: column;
  }
  nav ul li {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  #li-logo {
    margin-left:2%;
    width: 20px;
  }
  main {
    margin-top: 205px;
    margin-bottom: 10px;
  }
  main section h5 {
    margin-left: 40%;
  }
div.uk-margin {
    margin-top: 1%;
    margin-bottom: 1%;
}
#nombre-de-usuario {
  padding: 0;
}
  footer {
      width: 100%;
      /* position: fixed; */
      bottom: 0;
      left: 0;
      background: #3898F9;
      color: white;
      margin-left: 0%;
      height: 100px;
      padding-top: 0.5%;
      padding-left: 0px;
  }
  div.copyright {
    padding: 0;
    margin-left: 40%;
  }
  footer h2 {
    font-size: 1rem;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  footer h6 {
    font-size: 1rem;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  footer div.copyright img.img-poweredby{
    width: 30%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding-left: 2%;
  }
